---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="border">
			<span>Suma:</span>
			<input class="bg-green-300" type="number" />
		</div>
		<div class="border">
			<span>Dobanda banca:</span>
			<input class="bg-green-300" type="number" />
		</div>
		<div class="border">
			<span>Perioada in luni:</span>
			<input class="bg-green-300" type="number" />
		</div>
	</body>
</html>
